body {
    background-image: url(https://www.ridus.ru/images2/01/37/70137_1600x0.webp);
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1222px;
    margin-left: auto;
    margin-right: auto;
}

.image-container > div {
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 100px;
    line-height: 75px;
    text-align: center;
    flex-wrap: wrap;
}

.left {
    flex-grow: 2.9;
    max-width: 290px;
}
.center {
    flex-grow: 6.03;
    flex-direction: column;
}
.right {
    flex-grow: 2.89;
    max-width: 289px;
}
#b1 {
    background-color: #b67d76bb;
    height: 180px;
    border-radius: 12px;
    margin: 7px 10px 7px 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
}
#b2 {
    background-color: royalblue;
    height: 320px;
    border-radius: 12px;
    margin: 7px 10px 0 0;
}
#b2 > img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
#b3 {
    background-color: #FFE7DE;
    height: 600px;
    border-radius: 8px;
    margin: 0 10px 0 7px;
}
#b4 {
    background-color: violet;
    height: 390px;
    border-radius: 16px;
    margin: 7px 0 6px 7px;
}
#b5 {
    background-color: #a316228b;
    height: 150px;
    border-radius: 16px;
    margin: 6px 0 0 7px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
}